#about,
#experience,
#projects,
#sayHello {
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

@media (max-width: 550px) {
  #about,
  #experience,
  #projects,
  #sayHello {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 768px) {
  #about,
  #experience,
  #projects,
  #sayHello {
    margin-left: 2%;
    margin-right: 2%;
  }
}
